@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700;800;900&family=Space+Mono&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #ffca3a;
  --primary-tint: #ffca3a2a;
  --secondary: #bf4342;
  --background-600: #535051;
  --background-700: #3e3c3d;
  --background-800: #343233;
  --background-900: #2e2c2d;
  --text-300: #b5bac8;
  --text-200: #85878d;
  --text-100: #d9d9d9;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-900);
}

::selection {
  background-color: #ffffff30;
}

@layer components {
  .styled-link {
    /* RESET */
    text-decoration: none;
    line-height: 1;

    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: var(--primary);
    vertical-align: bottom;
    transition: color 0.15s ease-out;
    max-width: fit-content;
    font: "Source Sans Pro", sans-serif;
    font-weight: 500;
  }

  .styled-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background: var(--primary-tint);
    transition: transform 0.1s ease-out;
  }

  .styled-link:hover::before {
    transform: translateY(0);
    transition: transform 0.1s ease-out;
  }

  .imageContainer > span {
    position: unset !important;
  }

  .nextImage {
    object-fit: contain;
    max-width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-900);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
