@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700;800;900&family=Space+Mono&family=Montserrat:wght@400&display=swap");

:root {
  --primary: #ffca3a;
  --primary-tint: #ffca3a2a;
  --secondary: #bf4342;
  --background-600: #414562;
  --background-700: #313349;
  --background-800: #212231;
  --background-900: #101118;
  --text-300: #b5bac8;
  --text-200: #85878d;
  --text-100: #d9d9d9;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .styled-link {
    /* RESET */
    text-decoration: none;
    line-height: 1;

    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: var(--primary);
    vertical-align: bottom;
    transition: color 0.15s ease-out;
  }

  .styled-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background: var(--primary-tint);
    transition: transform 0.1s ease-out;
  }

  .styled-link:hover::before {
    transform: translateY(0);
    transition: transform 0.1s ease-out;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
